.u-section-1 {
  min-height: 389px;
}

.u-section-1 .u-image-1 {
  height: 587px;
  margin-top: 107px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: -483px calc(((100% - 1140px) / 2) + 196px) 0 calc(((100% - 1140px) / 2) + 400px);
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 12px calc(((100% - 1140px) / 2) + 21px) 37px calc(((100% - 1140px) / 2) + 400px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 96px);
    margin-left: calc(((100% - 940px) / 2) + 300px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 300px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 176px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 176px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 490px;
  }

  .u-section-1 .u-image-1 {
    height: 673px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    font-weight: 700;
    width: 340px;
    margin-top: -601px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: 340px;
    margin: -1px auto 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1215px;
}

.u-section-2 .u-image-1 {
  width: 330px;
  height: 421px;
  margin: -25px auto 0 69px;
}

.u-section-2 .u-image-2 {
  width: 24px;
  height: 71px;
  margin: -261px auto 0 45px;
}

.u-section-2 .u-image-3 {
  height: 510px;
  margin-top: 171px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.2rem;
  margin: -432px 774px 0 225px;
}

.u-section-2 .u-text-2 {
  font-size: 1.2rem;
  margin: 192px 999px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.2rem;
  margin: 172px 654px 0 275px;
}

.u-section-2 .u-text-4 {
  margin: -411px 645px 0 150px;
}

.u-section-2 .u-text-5 {
  margin: 171px 795px 0 0;
}

.u-section-2 .u-image-4 {
  width: 470px;
  height: 313px;
  margin: -768px 100px 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 593px 581px 0 215px;
}

.u-section-2 .u-image-5 {
  width: 434px;
  height: 314px;
  margin: 30px 581px 60px 215px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-3 {
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 674px;
    margin-left: 125px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 799px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 554px;
    margin-left: 175px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 545px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 595px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 481px;
    margin-left: 115px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 391px;
    margin-left: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 564px;
    margin-left: 15px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 579px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 444px;
    margin-left: 65px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 375px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 375px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 371px;
    margin-left: 5px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 281px;
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 399px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 399px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 329px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 195px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 195px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 70px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 196px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-right: 106px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-2 .u-image-1 {
    width: 204px;
    height: 252px;
    margin-top: -187px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 28px;
    height: 84px;
    margin-top: -182px;
    margin-left: 31px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    margin-top: 265px;
    margin-right: -50px;
    margin-left: auto;
	opacity:0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -393px;
    margin-right: 199px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 125px;
    margin-right: 199px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 133px;
    margin-right: 129px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -277px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 98px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 227px;
    margin-top: -504px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 381px;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 246px;
    margin-top: -21px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  background-image: url("images/middle-bg.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 622px;
}

.u-section-3 .u-text-1 {
  margin: 0 243px 0 492px;
}

.u-section-3 .u-text-2 {
  margin: 24px 166px 0 494px;
}

.u-section-3 .u-image-1 {
  width: 461px;
  height: 726px;
  margin: -490px auto -324px -30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-right: 143px;
    margin-left: 392px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 66px;
    margin-left: 394px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
    margin-right: 66px;
    margin-left: 394px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 33px;
    margin-left: 282px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 240px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 19px;
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 135px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 60px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 236px;
    height: 372px;
    margin: 0 auto 0 31px;
  }
}.u-section-4 {
  min-height: 846px;
}

.u-section-4 .u-text-1 {
  margin: 295px calc(((100% - 1140px) / 2) + 571px) 0 calc(((100% - 1140px) / 2) + 172px);
}

.u-section-4 .u-text-2 {
  margin: 38px calc(((100% - 1140px) / 2) + 489px) 0 calc(((100% - 1140px) / 2) + 220px);
}

.u-section-4 .u-image-1 {
  width: 561px;
  height: 517px;
  margin: -308px 0 0 auto;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -58px auto 60px calc(((100% - 1140px) / 2) + 435px);
  padding: 10px 75px 11px 74px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 471px);
    margin-left: calc(((100% - 940px) / 2) + 72px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 389px);
    margin-left: calc(((100% - 940px) / 2) + 120px);
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 389px);
    margin-left: calc(((100% - 940px) / 2) + 120px);
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 235px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 323px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 279px);
    margin-left: calc(((100% - 720px) / 2) + 10px);
  }

  .u-section-4 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 149px);
    margin-left: calc(((100% - 720px) / 2) + 10px);
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2) + 15px);
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 827px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 143px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 109px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 498px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-btn-1 {
    margin-top: -39px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 606px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: 26px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 229px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 17px;
    margin-left: auto;
  }
}